[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
numpy = "*"
opencv-python = "*"
tensorflow = "*"
dnspython = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"