<!DOCTYPE html>
<html>
<head>
    <title> Object Recognizer </title>
</head>
<body>
    <h1> Object Recognizer </h1>
    <form action="/upload" method="POST">
        <video id ="video" width="640" height="480" autoplay></video>
        <br/>
        <button type="submit">Take Photo</button>
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    </form>
    
    {% if captured_images %}
        <h2>Object Gallery</h2>
        {% for image in captured_images %}
            <img src="{{ url_for('static', filename=image) }}" width= "320" height: "240">
        {% endfor %}
    {% endif %}

    <h2> Database Results </h2>
        {% for entry in entries%}
            <p>{{ entry }}</p>
        {% endfor %}

    <script>
        const live_feed = document.getElementById('video');
        const screenshot = document.getElementById('canvas');
        const context = screenshot.getContext('2d');
        const form = document.querySelector('form');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                live_feed.srcObject = stream;
            })
            .catch(err => {
                console.error("Error accessing webcam: ", err);
            });

        form.addEventListener('submit', function(event) {
            event.preventDefault(); 

            context.drawImage(live_feed, 0, 0, screenshot.width, screenshot.height);
            const dataURL = screenshot.toDataURL('image/png');

            fetch('/upload', {
                method: 'POST',
                body: JSON.stringify({ image: dataURL }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                console.log(' Upload successful');
                window.location.reload();
            })
            .catch(error => {
                console.error('Error uploading image:', error);
            });
        });
    </script>

    </body>
</html>
